In [1]:
import pandas as pd
import pickle
import imblearn
import numpy as np
from imblearn.over_sampling import SMOTE
import sklearn
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import GradientBoostingClassifier

In [2]:
data = pd.read_csv(r'C:\Users\HP\Downloads\LoanData.csv')
data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [3]:
data['Gender'] = data['Gender'].fillna(data['Gender'].mode()[0])

In [4]:
data['Married'] = data['Married'].fillna(data['Married'].mode()[0])

In [5]:
data['Dependents'] = data['Dependents'].fillna(data['Dependents'].mode()[0])

In [6]:
data['Self_Employed'] = data['Self_Employed'].fillna(data['Self_Employed'].mode()[0])

In [7]:
data['LoanAmount'] = data['LoanAmount'].fillna(data['LoanAmount'].median())

In [8]:
data['Loan_Amount_Term'] = data['Loan_Amount_Term'].fillna(data['Loan_Amount_Term'].median())

In [9]:
data['Credit_History'] = data['Credit_History'].fillna(data['Credit_History'].median())

In [10]:
data = data[data['ApplicantIncome'] < 100000]

In [11]:

data = data[data['CoapplicantIncome'] < 50000]

In [12]:
data = data[data['LoanAmount'] < 500000]

In [13]:
#data['ApplicantIncome'] = np.log(data['ApplicantIncome'])

In [14]:
#data['CoapplicantIncome'] = np.log1p(data['CoapplicantIncome'])

In [15]:
data = data.drop(['Loan_ID'], axis = 1)

In [16]:
data['Gender'] = data['Gender'].replace(('Male','Female'),(1, 0))

In [17]:
data['Married'] = data['Married'].replace(('Yes','No'),(1, 0))

In [18]:
data['Education'] = data['Education'].replace(('Graduate','Not Graduate'), (1, 0))

In [19]:
data['Self_Employed'] = data['Self_Employed'].replace(('Yes','No'), (1, 0))

In [20]:
data['Loan_Status'] = data['Loan_Status'].replace(('Y','N'), (1, 0))

In [21]:
data['Property_Area'] = data['Property_Area'].replace(('Urban','Semiurban', 'Rural'),(2, 1, 0))

In [22]:
data['Dependents'] = data['Dependents'].replace(('0', '1', '2', '3+'), (0, 1, 2, 3))

In [23]:
y = data['Loan_Status']

In [24]:
x = data.drop(['Loan_Status'], axis = 1)

In [25]:
x_resample, y_resample  = SMOTE().fit_resample(x, y.values.ravel())

In [26]:

from sklearn.model_selection import train_test_split

In [27]:

x_train, x_test, y_train, y_test = train_test_split(x_resample, y_resample, test_size = 0.2, random_state = 0)

In [28]:
model =  GradientBoostingClassifier()

In [29]:
model.fit(x_train, y_train)

GradientBoostingClassifier()

In [30]:
file = open('loan_status.pkl', 'wb')

In [31]:
pickle.dump(model, file)